/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    /* ************************************************************************************
     * MACROS
     ************************************************************************************ */
    
    macros {
        /* * KOTLIN LAMBDA: {  ->  }
         * Types the structure and moves cursor back before the arrow.
         * Final position: { | -> }
         */
        kt_lam: kotlin_lambda {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp SPACE &kp SPACE &kp MINUS &kp GT &kp SPACE &kp RBRC &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
        };

        /* * KOTLIN FUNCTION (IMPROVED)
         * Types: fun () { } with a newline.
         * Moves cursor back to naming position.
         * Final position: fun |() { 
         */
        kt_fun: fun_keyword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F &kp U &kp N &kp SPACE &kp LPAR &kp RPAR &kp SPACE &kp LBRC &kp RET &kp RBRC &kp UP &kp LEFT &kp LEFT &kp LEFT &kp LEFT>;
        };

        /* JS/General Arrow: => */
        js_arr: js_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
        };

        /* Kotlin Safe Call: ?. */
        kt_safe: safe_call {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QMARK &kp DOT>;
        };

        /* Kotlin Elvis Operator: ?: */
        kt_elvis: elvis_op {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp QMARK &kp COLON>;
        };

        /* Val keyword */
        kt_val: val_keyword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &kp A &kp L &kp SPACE>;
        };
        
        /* Var keyword */
        kt_var: var_keyword {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &kp A &kp R &kp SPACE>;
        };

        /* Git Macros */
        git_cmt: git_commit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            /* Types: git commit -m "" and places cursor inside quotes */
            bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp M &kp M &kp I &kp T &kp SPACE &kp MINUS &kp M &kp SPACE &kp DQT &kp DQT &kp LEFT>;
        };
        git_st: git_status {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            /* Types: git status [Enter] */
            bindings = <&kp G &kp I &kp T &kp SPACE &kp S &kp T &kp A &kp T &kp U &kp S &kp RET>;
        };
        git_add: git_add {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            /* Types: git add . [Enter] */
            bindings = <&kp G &kp I &kp T &kp SPACE &kp A &kp D &kp D &kp SPACE &kp DOT &kp RET>;
        };
        git_psh: git_push {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            /* Types: git push [Enter] */
            bindings = <&kp G &kp I &kp T &kp SPACE &kp P &kp U &kp S &kp H &kp RET>;
        };
    };

    behaviors {
        /* Home Row Mods: Tap for char, Hold for modifier */
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <155>;
            require-prior-idle-ms = <115>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        /* J + K = ESC */
        combo_esc {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp ESC>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        /* Tri-layer: Lower + Raise = Adjust */
        tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* LAYER 0: DEFAULT (MAC MODE) */
        default_layer {
            bindings = <
                &kp TAB    &kp Q       &kp W       &kp E       &kp R       &kp T         &kp Y       &kp U       &kp I       &kp O       &kp P          &kp BSPC
                &kp LCTRL  &hm LSHFT A &hm LCTRL S &hm LALT D  &hm LGUI F  &kp G         &kp H       &hm RGUI J  &hm RALT K  &hm RCTRL L &hm RSHFT SEMI &kp SQT
                &kp LSHFT  &kp Z       &kp X       &kp C       &kp V       &kp B         &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH       &kp ESC
                                       &kp LGUI    &mo 2       &kp RET                   &kp SPACE   &mo 3       &kp RALT
            >;
        };

        /* LAYER 1: LINUX MODE (Swaps thumb to Ctrl) */
        linux_layer {
            bindings = <
                &kp TAB    &kp Q       &kp W       &kp E       &kp R       &kp T         &kp Y       &kp U       &kp I       &kp O       &kp P          &kp BSPC
                &kp LGUI   &hm LSHFT A &hm LCTRL S &hm LALT D  &hm LGUI F  &kp G         &kp H       &hm RGUI J  &hm RALT K  &hm RCTRL L &hm RSHFT SEMI &kp SQT
                &kp LSHFT  &kp Z       &kp X       &kp C       &kp V       &kp B         &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH       &kp ESC
                                       &kp LCTRL   &mo 2       &kp RET                   &kp SPACE   &mo 3       &kp RALT
            >;
        };

        /* LAYER 2: LOWER (Navigation, Numbers & IDE Shortcuts) */
        lower_layer {
            bindings = <
                &kp TAB       &kp LG(B)    &kp LG(LBKT) &kp LG(RBKT) &kp LG(LS(F)) &trans        &kp N1   &kp N2   &kp N3   &kp N4    &kp N5 &kp BSPC
                &trans        &trans       &trans       &trans       &trans        &trans        &kp LEFT &kp DOWN &kp UP   &kp RIGHT &trans &trans
                &kp LSHFT     &kp HOME     &kp PG_DN    &kp PG_UP    &kp END       &trans        &kp N6   &kp N7   &kp N8   &kp N9    &kp N0 &trans
                                           &kp LGUI     &trans       &kp RET                     &kp SPACE &trans &kp RALT
            >;
            /* JetBrains Shortcuts (Left Hand):
             * Q: Go to Declaration (Cmd+B)
             * W: Back (Cmd+[)
             * E: Forward (Cmd+])
             * R: Find in Path (Cmd+Shift+F)
             */
        };

        /* LAYER 3: RAISE (Symbols Optimized) */
        raise_layer {
            bindings = <
                &kp TAB   &kp EXCL &kp AT   &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &kp BSPC
                &kp LCTRL &trans   &trans   &trans   &trans   &trans        &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp BSLH &kp GRAVE
                &kp LSHFT &trans   &kp LBRC &kp RBRC &trans   &trans        &kp UNDER &kp PLUS  &kp LBRC  &kp RBRC &kp PIPE &kp TILDE
                                   &kp LGUI &trans   &kp RET                &kp SPACE &trans    &kp RALT
            >;
        };

        /* LAYER 4: ADJUST (Code Macros, OS Switch, & Media) */
        adjust_layer {
            /* * Programming Optimized Layout:
             * Top Row:    BT Controls (Moved here to clear home row)
             * Middle Row: Kotlin/Code Macros (Left) | Media/Nav (Right)
             * Bottom Row: OS Switch & Variables
             */
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &git_st &git_add   &git_cmt   &git_psh &trans &trans
                &trans     &kt_val      &kt_safe     &kt_lam      &kt_fun      &js_arr        &trans  &kp C_PREV &kp C_NEXT &kp C_PP &trans &trans
                &to 0      &to 1        &kt_var      &kt_elvis    &trans       &trans         &trans  &trans     &trans     &trans   &trans &trans
                                                     &kp LGUI     &trans       &kp RET        &kp SPACE &trans   &kp RALT
            >;
            /* * MACRO KEYMAP (Left Hand):
             * Middle Row:
             * S (Ring):   ?. (Safe Call)
             * D (Middle): { -> } (Smart Lambda)
             * F (Index):  fun () {} (Smart Function)
             * G (Inner):  => (JS Arrow)
             * Bottom Row:
             * TAB: Mac Mode
             * Q:   Linux Mode
             * W:   var
             * E:   ?: (Elvis)
             */
        };
    };
};
